
body {
    background-color: #1B2473;
}
.auth-form {
    width: 600px;
    height: 420px;
    border-radius: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: white;
    margin: auto;
    padding-top: 11px;
    padding-left: 45px;
    padding-right: 45px;

}



.auth-form > h2 {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: #787878;
    margin-top: 25px;
    margin-bottom: 32px;
}


.auth-form > p {
    position: absolute;
    right: 10px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}



.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-wrapper > label {
    margin-left: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    gap: 3px;
}


.form-input {
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    border-radius: 10px;
    width: 93%;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/

}

.checkbox-email {
    display: flex;
    margin-top: 7px;
}

.checkbox-email > label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.submit-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    width: 180px;
    height: 52px;
    border-radius: 10px;
    color: white;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1A226B;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    /*margin-bottom: 10px;*/
    margin-left: 4px;
}

.checkbox+label::before {
    content: '' ;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid gray;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.checkbox:checked+label::before {
    position: relative;
    border-color: gray;
    background-color: white;

}

.checkboxError+label::before {
    content: '' ;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid red;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}



.checkbox:checked+label::after {
    content: url("./checkbox.svg");
    position: absolute;
    margin: 5px;
}

.error-emptyWrapper {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    color: red;
    display: none;
}




.error-box {
    border: 3px red solid;
}

.error-required {
    color: gray;
}

.error-required-password {
    color: red;

}

.error-required-checkbox {
    color: red;
}
